
.button:hover {
	-fx-background-color: #383838;
}

.jfx-hamburger StackPane {
	-fx-background-color: white;
}

.text-field
{
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
}

.jfx-combo-box {
-fx-prompt-text-fill: white;
}

.jfx-snackbar-layout {
		-fx-background-color: white;
		-fx-border-color: red;

}